*
{
    padding: 5px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}
body
{
    padding: 5px;
    background: linear-gradient( #ffffff 70%,rgb(254, 240, 223));

}
nav{
    font-family: sans-serif;
    font-size: 14px;
    background-color: #ffffff;
    height: 70px;
    width: 100%;
    position:sticky;
    top: 0px;
    padding: 20px;
    
    
}
label.logo
{
    font-size: 28px;
    color:rgb(222, 72, 58);
    font-weight: bold;
    line-height: 35px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
label.logo a:hover{
    background-color: #ffffff;
}

nav ul{
    float: right;
    margin-top: -5px;

}

nav ul li{
    display: inline;
    line-height: 10px;
}
.start
{
    border-radius: 10px;
    border-width: 0;
    padding: 10px;
    font-size: 18px;
    background-color:rgb(222, 72, 58);
    color: white;
    font-family: sans-serif;

}
.start:hover
{
    background-color: rgb(236, 41, 24);
}
.start:active
{
    transform: scale(0.98);
    
}
nav ul li a{
    color: black;
    font-size: 14px;

}
nav a{
    padding: 9px 16px;
}
nav a:hover {
    background-color: rgb(218, 216, 216);
    border-radius: 5px;
    
}
.intro
{
    text-align: center;
}
.companies
{
    text-align: center;
}
.logos
{
    height: 70px;
    padding-right: 30px;
    width: 8%;
}

.container
{
    position: relative;
    padding: 50px;
    padding:20px 180px;
    margin: auto;
    border: 1px none #ddd;
    
    height: 50vh;
    width: 100%;
    margin-top: 100px;
    display: flex;
}
.unscrolling
{
    position: sticky;
}
.scrollable-content
{
    margin-top: 50px;
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    display: none;
}
.content
{
    padding: 30px;
    margin-bottom: 250px;    
    margin-right: 200px;
}
.info-heading
{
    color: rgb(222, 72, 58);
    font-weight: 22px;
    font-family: roboto;
    font-size: 20px;
}
.info-sub
{
    font-family: roboto;
    line-height: 40px;
    font-size: 40px;
    font-weight: bold;

}
.info-content
{
    color: gray;
    font-size: 20px;
    font-family: sans-serif;
    line-height: 30px

}
.offers
{
    margin-left: 80px;
    padding: 20px;
    height: 30vh;
    width: 40%;
    margin-left: 15%;
}
.flex-row
{
    display: flex;   
}
.offers-div
{
    border-style:solid;
    margin: 10px;
    border-radius: 10px;
    border-color: gray;    
    border-width: 0.5px;
    padding: 30px;
    width: 350px;
    text-align: center;
    font-weight: 24px;
    font-size: 14px;
    font-family: sans-serif;
}
.img
{
    height: 130px;
}
.terms
{
    margin-top: 7%;
    margin-left: 12%;
}
.content a:hover{
    background-color: rgb(204, 217, 244);
    border-radius: 5px;
    padding: 10px;
}
.bottom
{
    margin-top: -50px;
    text-align: center;
    margin-bottom: 80px;

}
.bottom-div
{
    height: 300px;
}
.bottom-button
{
    margin-bottom: 20px;
    margin-top: -40px;
}
.bottom a:hover
{
    background-color: rgb(235, 233, 231);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    font-weight: 50px;
}
.bottom-a
{
    color: gray;
}
hr{
    border-top: 1px solid black;
}
.menu
{
    margin-left: 150px;
    margin-top: 50px;
}
.menu-logo 
{
    color: black;
}
.logo-bottom
{
    font-size: 28px;
    color:black;
    font-weight: bold;
    line-height: 35px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.features
{
    margin-left: 100px;
    margin-right: 40px;
}
.features a {
    color: black;
    line-height: 30px;
    padding: 9px 16px;
}
.features a:hover
{
    background-color:rgb(212, 204, 204);
    border-radius: 5px;
}
.socials
{
    margin-left: 20px;
    margin-top: 25px;
}
.socials-logo
{
    height: 3.5vh;
    margin-bottom: 10px;
}
footer
{
    margin-left: 8%;
}
footer a
{
    color: gray;
    font-size: 14px;
}
footer a:hover
{
    text-decoration: underline;
}
.doist
{
   margin-top: -18px;
   color: gray;
   font-size: 14px;
}
.lang
{
    margin-left: 62%;
    position: relative;

}